$letter-space:2.5px;
/*********************outline*************************/
*{}

 h4{
        letter-spacing: $letter-space;
    }
/*********************MAP-BACKGROUND*************************/
.themap{
    height: 100%; 
    width: 100%; 
    position:absolute;}

/*********************NAVBAR*************************/
.navbar{
    padding: 15px;
    i{
        color:#ff0;
    }
    img{
        width: 200px;
    }
}

/*********************HOME*************************/
.home{
    .btn{
        background-color: rgb(252,180,37);
        color: #fff;
    }
   
}
.box-info{
    margin-top: 80px;
    
    .color{
        background: #fff;
        padding: 10px;
    }
    select{
        border: 1px solid rgb(252,180,37);
        border-radius: none;
    }
}
.home{
    
}
/*********************INFO-TRANSPORT*************************/
.info-transport{
    display: none;
    ul{
        img{
            width: 40px;
            height: 40px;
        }
        span{
            letter-spacing: 3px;
        }
    }
    .color2{
        background: #fff;
        padding: 10px;
    }
}
 .radio{
            span{
                color:rgb(252,180,37); 
            }
        } 